OWNER_EMAIL=you@example.com
META_APP_ID=
META_APP_SECRET=
META_VERIFY_TOKEN=
META_IG_ACCOUNT_ID=
META_IG_ACCESS_TOKEN=
TOKEN_ENCRYPTION_KEY=
GONKA_API_KEY=
GONKA_INPUT_USD_PER_MILLION=
GONKA_OUTPUT_USD_PER_MILLION=
